@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
    font-size: 18px;
    line-height: 28px;
    color: #333;
    font-weight: 400;
    font-family: "Roboto", sans-serif !important;
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 24px;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #221e1e;
    font-weight: 700 !important;
    font-family: "Source Sans Pro", sans-serif !important;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
}


/**/

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

.div-row {
    overflow: hidden;
}

.pt-5 {
    padding-top: 3rem !important;
}

.pb-5 {
    padding-bottom: 3rem !important;
}

.pt-4 {
    padding-top: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.mb-0 {
    margin-bottom: 0px !important;
}

.mt-0 {
    margin-top: 0px !important;
}

.text-white {
    color: #fff !important;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    font-weight: 500;
    border-radius: 0.25rem;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

    .card-header a {
        color: white;
    }

.card ul {
    list-style: none;
    margin-bottom: 0px;
    padding-top: 10px;
}

.card {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.bg-secondary {
    background-color: #6c757d !important;
}

.container {
    max-width: 1160px;
    margin: auto;
    display: block;
    overflow: hidden;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}

.list-inline {
    list-style: none;
}

a {
    text-decoration: none;
}

.list-inline a {
    text-decoration: none;
}

.container-fluid {
    width: 100%;
    overflow: hidden;
}

.div-4 {
    width: 33.33%;
    float: left;
}

.div-8 {
    width: 66.66%;
    float: left;
}

.div-6 {
    width: 50%;
    float: left;
}

.div-7 {
    width: 58.33%;
    float: left;
}

.div-5 {
    width: 41.66%;
    float: left;
}

.img-fluid {
    max-width: 100%;
    width: 100%;
    display: block;
}

.p-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.l-15 {
    margin-left: 15px;
}
/**/


.red {
    color: #f37b83;
}

.brown {
    color: #362b2e;
}

.bg-brown {
    background: #362b2e;
}

.bg-red {
    background: #f37b83;
}

.bg1 {
    background: #362b2e;
}

.bg2 {
    background: #137a7b;
}

.navbar {
    padding: 20px 40px;
}

.navbar-nav {
    padding-left: 0px;
}

.navbar li {
    display: inline-block;
}


.navbar a {
    padding: 10px 15px !important;
    color: #362b2e !important;
    text-transform: uppercase;
    font-size: 17px;
    margin: 5px;
    display: inline-block;
}

.navbar i {
    color: #9a8f92 !important;
}

.navbar a:hover {
    color: #137a7b !important;
}

    .navbar a:hover i {
        color: #222 !important;
    }

.navbar-brand span {
    font-weight: 600;
    font-size: 20px;
}

    .navbar-brand span:nth-child(1) {
        color: #362b2e;
    }

    .navbar-brand span:nth-child(2) {
        color: #137a7b;
    }

.social i {
    width: 27px;
    height: 27px;
    display: inline-block;
    background: white;
    color: #333;
    text-align: center;
    font-size: 14px;
    margin-right: 6px;
    line-height: 28px;
    /* border-radius: 100%; */
    margin-top: 0px;
}

    .social i:hover {
        background: #137a7b;
        color: white;
    }

.social a:hover {
    text-decoration: none;
}

.left-div {
    padding: 80px 40px;
    overflow: hidden;
}

    .left-div h4 {
        color: #f37b83;
        font-weight: 300 !important;
        letter-spacing: 1px;
        font-size: 16px;
        text-transform: uppercase;
        padding-top: 12px;
    }

    .left-div p {
        color: #fff;
    }

    .left-div a {
        color: #fff;
    }

        .left-div a:hover {
            color: #fff;
            text-decoration: none;
        }

.right-div {
    padding: 80px 40px;
    overflow: hidden;
}

    .right-div p {
        color: #fff;
    }

    .right-div h3 {
        color: #fff;
        font-weight: 500 !important;
    }


    .right-div h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 46px;
    }

.title-2 {
    font-size: 57px;
}

.line1 {
    background: #362b2e;
    width: 70px;
    height: 4px;
}

.education {
    background: #f8f9fa;
}

    .education .line1 {
        margin-bottom: 40px;
    }

    .education span {
        color: #666;
        font-size: 15px;
    }

    .education em {
        padding: 3px 15px;
        font-style: inherit;
        border-radius: 30px;
        font-size: 15px;
    }

.research {
    background: #362b2e;
}

.research-main a {
    text-decoration: underline;
    color: #0a4574;
}

    .research-main a:hover {
        color: #92bbdb;
    }

.re-box {
    background: #eeeeee;
    padding: 20px;
    margin-top: 20px;
}

    .re-box h4 {
        font-weight: 600;
        color: #555;
    }

    .re-box span {
        padding: 3px 15px;
        font-style: inherit;
        border-radius: 30px;
        font-size: 15px;
        color: white;
    }

.skills {
    background: #f8f9fa;
}

.skill-div img {
    position: relative;
    top: 8px;
}

.badge-green {
    background: #137a7b;
    color: white !important;
}

.skill-div p {
    margin-bottom: 0px;
    margin-top: 10px;
}

.bg-green {
    background: #137a7b;
}

.green {
    color: #137a7b;
}

.work {
    background: #137a7b;
}

    .work h2 a {
        color: #fff !important;
    }

.list-group-item {
    /*background:#75aaaa*/
}

.card-header {
    background: #362b2e !important;
    color: white;
}

.work span {
    padding: 3px 15px;
    font-style: inherit;
    border-radius: 30px;
    font-size: 15px;
    color: white;
}

footer {
    background: #111;
}

.links a {
    color: #d1c770;
    text-decoration: underline;
    display: inline-block;
    padding: 4px 10px;
}

    .links a:hover {
        color: #fff;
    }

.download a {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

    .download a:hover {
        color: #fff;
    }
/**/

@media (min-width: 1200px) {
    .right-div {
        min-height: 630px;
    }

    .left-div {
        min-height: 630px;
    }
}


@media (min-width: 768px) and (max-width:991px) {
    .first-div .bg1{
        width:100% !important;
    }
    .first-div .bg2{
        width:100% !important;
    }
}



@media (max-width: 767px) {
    .navbar {
        padding: 7px 10px !important;
    }

        .navbar a {
            padding: 10px 4px !important;
            font-size: 15px;
        }

    .left-div {
        padding: 40px 15px;
    }

    .right-div {
        padding: 40px 15px;
    }

        .right-div h1 {
            font-size: 40px;
        }

    .title-2 {
        font-size: 45px;
    }
    /**/

    .div-4 {
        width: 100%;
    }

    .div-8 {
        width: 100%;
    }

    .div-6 {
        width: 100%;
    }

    .div-7 {
        width: 100%;
    }

    .div-5 {
        width: 100%;
    }
}
